.idea
.terraform
terraform/gopath
terraform/s3_dashvid-io.tf
secrets.yml

# Generated Content
s3_dash-cam-ui.tf
terraform/Lambda/AuthLambdas/*.zip
terraform/Lambda/SubscriptionLambdas/*.zip
terraform/Lambda/VideoLambdas/*.zip
**/node_modules


# UI
# dependencies
node_modules
terraform/UI/www/src/config.json

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
