#set($inputRoot = $input('$'))
{
    "auth_email_from_address": "$stageVariables.auth_email_from_address",
    "auth_db_table": "$stageVariables.auth_db_table",
    "auth_application_name": "$stageVariables.auth_application_name",
    "auth_reset_page": "$stageVariables.auth_reset_page",
}